.btn{
    background-color: rgb(23, 235, 48);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
}

img{
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-auth{
    width: 100%;
    text-align: center;
    background-color:rgb(106, 76, 130);
}

.humid-box{
    padding-top: 20px;
    background-color: rgb(223, 0, 0);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 900px;
}

.humid-content{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 145, 0);
    font-weight: bold;
    display: inline-block;
}

.light-box{
    padding-top: 20px;
    background-color: rgb(153, 0, 255);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 900px;
}

.light-content{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: inline-block;
}

.lcd-box{
    background-color: rgb(242, 0, 255);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 900px;
}

.lcd-content{
    font-size: 30px;
    padding-left: 15px;
    color: rgb(205, 0, 123);
    font-weight: bold;
    display: inline-block;
}


.value-content{
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}

.temp-box{
    background-color: rgb(238, 255, 0);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 900px;
}

.tempC-content{
    font-size: 30px;
    padding-left: 15px;
    color: rgb(0, 47, 255);
    font-weight: bold;
    display: inline-block;
}

.tempF-content{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(7, 210, 0);
    font-weight: bold;
    display: inline-block;
}

.camera-img-box{
    background-color: rgb(0, 255, 81);
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 900px;
}

.button-box{
    display: inline-block;
    width: 100px;
    color: rgb(64, 255, 86);
}

.signout-div{
    width: 100%;
    text-align: center;
}


body{
    background-color:rgb(106, 76, 130);
}